<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Tracker</h1>
      <a href="<%= page_path(:form) %>" class="btn btn-primary new-tracker">new</a>
    </div>
  </div>
</div>
